@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: Roboto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: rgb(35, 35, 43);
  text-decoration: none;
  transition: font-size 0.2s;
}
a:hover {
  color: rgb(97, 194, 118);
  font-size: 105%;
}
.active {
  color: rgb(97, 194, 118);
  font-weight: bold;
  text-decoration: underline;
}
